@charset "utf-8";
.container.main {
    padding-top: 20px;
}
table{
    width: 100%;
    background: radial-gradient(50% 429.81% at 50% 50%, rgb(75 97 167) 0%, rgb(37 43 66) 100%);
}
 tbody.table-all tr:hover{
    background-color: rgb(55 68 112);
} 
.table-frequency th, .table-frequency td{
    padding: 5px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
}
.table-frequency td:last-child,.table-frequency th:last-child {
    text-align: right;
}
 tr{
    font-size: 21px;
    color:#fff;
    font-family: 'MontserratMedium';
}
tr.tr-header {
    color: #fff;
    font-size: 21px;
    font-family: 'MontserratBold';
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0 10px 30px;
    border-bottom: 3px solid #303a5f;
}
.search-box {
    position: relative;
    height: 40px;
    max-width: 289px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    margin: 20px;
}
input.search-text {
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px;
}
button.search-button {
    background: #00a3c0 url(../i/search.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-size: 56%;
    outline: 0;
    cursor: pointer;
}
.search-wrap{
    display: flex;
    width: 100%;
    justify-content: center;
}
.table-frequency {
    margin-bottom: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media (min-width:768px){
    .table-frequency th, .table-frequency td {
        padding: 10px;
        font-size: 18px;
        line-height: 24px;
    }
}